{% load static %}
<section id="courses">
    <div class="text-center container py-5">
      <h4 class="mt-4 mb-5">
        <strong>Free Course</strong>
      </h4>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <img src="{% static 'uploadimg/bookkeeping-and-accounting-services-from-the-philippines.jpg' %}" class="w-100">
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span>
                      <span class="badge bg-success ms-2">Eco</span>
                      <span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <p class="text-reset"></p>
              <h5 class="card-title mb-3">Bookkeeping</h5>
              <p></p>
              <a href="#" tn-primary="" onclick="document.getElementById('id01').style.display='block'" class="text-reset">
                <p>Start reading</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s>
                <strong class="ms-2 text-success">$FREE TRIAL</strong>
              </h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <img src="{% static 'uploadimg/best_animation_school_image_1-1024x683.jpg' %}" class="w-100">
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span>
                      <span class="badge bg-success ms-2">Eco</span>
                      <span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <p class="text-reset"></p>
              <h5 class="card-title mb-3">Animation</h5>
              <p></p>
              <a href="#" tn-primary="" onclick="document.getElementById('id01').style.display='block'" class="text-reset">
                <p>Start reading</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s>
                <strong class="ms-2 text-success">$FREE TRIAL</strong>
              </h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <img src="{% static 'uploadimg/Computer_technician_05.jpg' %}" class="w-100">
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span>
                      <span class="badge bg-success ms-2">Eco</span>
                      <span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <p class="text-reset"></p>
              <h5 class="card-title mb-3">computer technician</h5>
              <p></p>
              <a href="#" tn-primary="" onclick="document.getElementById('id01').style.display='block'" class="text-reset">
                <p>Start reading</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s>
                <strong class="ms-2 text-success">$FREE TRIAL</strong>
              </h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <img src="{% static 'uploadimg/barista-bartender.jpg' %}" class="w-100">
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span>
                      <span class="badge bg-success ms-2">Eco</span>
                      <span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <p class="text-reset"></p>
              <h5 class="card-title mb-3">Bartender</h5>
              <p></p>
              <a href="#" tn-primary="" onclick="document.getElementById('id01').style.display='block'" class="text-reset">
                <p>Start reading</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s>
                <strong class="ms-2 text-success">$FREE TRIAL</strong>
              </h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <img src="{% static 'uploadimg/close-up-hands-unrecognizable-mechanic-doing-car-service-maintenance_146671-19689.jpg' %}" class="w-100">
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span>
                      <span class="badge bg-success ms-2">Eco</span>
                      <span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <p class="text-reset"></p>
              <h5 class="card-title mb-3">Automotive engineering</h5>
              <p></p>
              <a href="#" tn-primary="" onclick="document.getElementById('id01').style.display='block'" class="text-reset">
                <p>Start reading</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s>
                <strong class="ms-2 text-success">$FREE TRIAL</strong>
              </h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <img src="{% static 'uploadimg/cooking.jpeg' %}" class="w-100">
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span>
                      <span class="badge bg-success ms-2">Eco</span>
                      <span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <p class="text-reset"></p>
              <h5 class="card-title mb-3">Cooking</h5>
              <p></p>
              <a href="#" tn-primary="" onclick="document.getElementById('id01').style.display='block'" class="text-reset">
                <p>Start reading</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s>
                <strong class="ms-2 text-success">$FREE TRIAL</strong>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>