{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'system:index' %}">
      <img src="{% static 'img/enroll/school_seal_100x100.png' %}" alt="Logo" width="64" height="auto" class="d-inline-block align-text-top">
  
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'system:index' %}">Home</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'system:dashboard' %}">Dashboard</a>
        </li>
        {% endif %}
        {% if request.path == "/" %}
          <li class="nav-item">
            <a class="nav-link" href="#facilities">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#work">Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">Team</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#myfaq">Faqs</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
          </li>
        {% elif request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'system:free_video_tutorials' %}">Video Tutorials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quiz:quiz_category_list_all' %}">Quizzes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'job:job_list' %}">Job Listing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'system:index' %}#myfaq">About Us</a>
          </li>
        {% endif%}
      </ul>
    </div>
    <span class="navbar-text px-5 text-white">
    {% if not request.user.is_authenticated %}
    
      <a type="button" data-bs-toggle="modal" href="#loginModal" data-backdrop="false" role="button">Login/Register</a>
    
    {% else %}
      {{request.user.email}}
      <a href="{% url 'authentication:logout' %}">Log out</a>
    {% endif %}
  </span>
    
  </div>
</nav>

