{% load static %}

<h1 class="text-center">Our Members</h1>
<div class="container" id="team">
    <div class="row">
      <div class="col-md-12">
        <div id="team-memebers" class="owl-carousel owl-theme owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1488px;">
              <div class="owl-item active" style="width: 372px;">
                <div class="team-member text-center">
                  <img src="{% static 'img/nineo.jpg' %}" class="img-responsive">
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">ninio san andres</h4>
                    <h4 class="team-member-designation">ceo</h4>
                    <ul class="social-list">
                      <li>
                        <a href="https://www.facebook.com/profile.php?id=100004910078558" class="social-icon icon-gray">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/SunilYa35862617" class="social-icon icon-gray">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" class="social-icon icon-gray">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 372px;">
                <div class="team-member text-center">
                  <img src="{% static 'img/jeril.jpg' %}" class="img-responsive">
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Jeril Gil labagnoy</h4>
                    <h4 class="team-member-designation">Sr. Developer</h4>
                    <ul class="social-list">
                      <li>
                        <a href="" class="social-icon icon-gray">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" class="social-icon icon-gray">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" class="social-icon icon-gray">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 372px;">
                <div class="team-member text-center">
                  <img src="{% static 'img/rhalph.jpg' %}" class="img-responsive">
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Rhodio Rhalph</h4>
                    <h4 class="team-member-designation">Jr. Developer</h4>
                    <ul class="social-list">
                      <li>
                        <a href="" class="social-icon icon-gray">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" class="social-icon icon-gray">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" class="social-icon icon-gray">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 372px;">
                <div class="team-member text-center">
                  <img src="{% static 'img/ed.jpg' %}" class="img-responsive">
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Ed renzi</h4>
                    <h4 class="team-member-designation">Consultant</h4>
                    <ul class="social-list">
                      <li>
                        <a href="" class="social-icon icon-gray">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" class="social-icon icon-gray">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="" class="social-icon icon-gray">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav disabled">
            <button type="button" role="presentation" class="owl-prev">
              <span aria-label="Previous">‹</span>
            </button>
            <button type="button" role="presentation" class="owl-next">
              <span aria-label="Next">›</span>
            </button>
          </div>
          <!-- <div class="owl-dots">
            <button role="button" class="owl-dot active">
              <span></span>
            </button>
            <button role="button" class="owl-dot">
              <span></span>
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>

