{% extends 'base.html' %}
{% load static %}

{% block mycss %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}"> -->


<style>
</style>

{% endblock mycss %}

{% block content %}

<div class="row p-5">
    <div class="d-flex align-items-start">
        {%  include 'partials/_sidebar.html' %}


        <div class="tab-content w-100" id="v-pills-tabContent">
            <div class="tab-pane fade {% if not request.GET.menu or request.GET.menu == 'home' %} show active {% endif %}" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">...</div>
            <div class="tab-pane fade {% if request.GET.menu == 'reviewcenters' %} show active {% endif %}" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                {% include 'partials/_reviewcenters.html' with reviewcenters=reviewcenters %}
            </div>
            <div class="tab-pane fade {% if request.GET.menu == 'review' %} show active {% endif %}" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">
                {% include 'partials/_course_price_list.html' %}
            </div>
            <div class="tab-pane fade {% if request.GET.menu == 'news' %} show active {% endif %}" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
            <div class="tab-pane fade {% if request.GET.menu == 'forums' %} show active {% endif %}" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
                <!-- {% include 'faq/question_form.html' %} -->
                <!-- {% include 'faq/questions_list.html' %} -->
                {% block forum %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block my_scripts %}

{% endblock my_scripts %}