{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Registration Form" %}{% endblock %}
{% load crispy_forms_tags %}
<!-- {% load bootstrap4 %} -->
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block mycss %}
{% endblock %}

{% block content %}


<div class="row p-5">
  <div class="d-flex align-items-start">
      {%  include 'partials/_sidebar.html' %}


      <div class="col p-5">
        
          <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
            <form method="post" class="form">
              {% csrf_token %}
              <!-- {{ form|crispy }} -->
              <div class="row">
                <div class="col">
                  {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col">
                  {{ form.last_name|as_crispy_field }}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  {{ form.middle_name|as_crispy_field }}
                </div>
                <div class="col">
                  {{ form.school|as_crispy_field }}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  {{ form.date_of_graduation|as_crispy_field }}
                </div>
                <div class="col">
                  {{ form.deans_name|as_crispy_field }}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  {{ form.address|as_crispy_field }}
                </div>
                <div class="col">
                  {{ form.contact_person_number|as_crispy_field }}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  {{ form.contact_person_name|as_crispy_field }}
                </div>
                <div class="col">
                  {{ form.contact_person_relation|as_crispy_field }}
                </div>
              </div>

              <button class="btn btn-success float-end" type="submit">Next</button>
            </form>
          </div>


      </div>
  </div>
</div>


{% endblock %}

