{% extends 'base.html' %}
{% load static %}

{% block mycss %}
{% endblock mycss %}

{% block content %}
<div class="row p-5">
    <div class="col-6 offset-3">
        <h3 class="mb-2">You can use this form if you are already registered and didn't received an email verification.</h3>
        <form class="form" action="{% url 'authentication:send_verification' %}" method="POST">
            {% csrf_token %} 
            <label for="email">Email:</label>
            <input id="email" class="form-control mb-2" name="email" type="email" required>
            <button type="submit" class="btn btn-success">Send Email Verification</button>
        </form>
    </div>
</div>
{% endblock %}